*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 25px;
}

.menu {
    height: 150px;
    background-color: #16a085;
    padding: 30px;
}

.menu button, .nextRoom button {
    padding: 10px 50px;
    display: inline;
    float: center;
    border: none;
    border-radius: 16px;
}

.info {
    height: 150px;
    background-color: #3498db;
    padding: 30px;
    line-height: 25px;
    color: #ecf0f1;
}

.nextRoom {
    height: 150px;
    background-color: #8e44ad;
    padding: 30px;
}